<form [formGroup]="newBugForm">

    <div class="form-group">
        <label>Title:</label>
        <input formControlName="title" type="text" class="form-control" id="titleInput" placeholder="Enter title">
        <div *ngIf="newBugForm.get('title').errors?.required && newBugForm.get('title').dirty" class="text-danger">
            Field is required
        </div>
    </div>


    <div class="form-group">
        <label>Description:</label>
        <input formControlName="description" type="text" class="form-control" id="descriptionInput"
            placeholder="Enter description">
        <div *ngIf="newBugForm.get('description').errors?.required && newBugForm.get('description').dirty"
            class="text-danger">
            Field is required
        </div>

    </div>
    <div class="form-group">
        <label>Priority:</label>
        <select formControlName="priority" class="form-control" id="priorityInput" placeholder="Select">
            <option value="1">Minor</option>
            <option value="2">Major</option>
            <option value="3">Critical</option>
        </select>
        <div *ngIf="newBugForm.get('priority').invalid && newBugForm.get('priority').dirty" class="text-danger">
            Field is required
        </div>
    </div>

    <div class="form-group">
        <label>Reporter:</label>
        <select formControlName="reporter" class="form-control" id="reporterInput" placeholder="Select">
            <option>QA</option>
            <option>PO</option>
            <option>DEV</option>
        </select>
        <div *ngIf="newBugForm.get('reporter').invalid && newBugForm.get('reporter').dirty" class="text-danger">
            Field is required
        </div>
    </div>

    <div class="form-group">
        <label>Status:</label>
        <select formControlName="status" class="form-control" id="statusInput">
            <option>Ready for testing</option>
            <option>Done</option>
            <option>Rejected</option>
        </select>

    </div>

    <div *ngIf="bugId" class="form-group">
        <h3>Comments</h3>
        <div  *ngFor="let comment of comments.controls; let idx = index " [formGroup]="comment" >
            
                <label>Name:</label>           
                    <input  class="form-control" formControlName="reporter" type="text" placeholder="Enter name">
                <label>Description:</label>
                <div class="d-flex align-items-center">
                    <input  class="form-control" formControlName="description" type="text" placeholder="Enter description">
                    <span class="ml-4"><button class="btn btn-danger" style="border-radius:50%"
                    (click)="removeComments(idx)"><b>X</b></button></span>
                    <hr>
                </div>
        </div>
        <hr>
        <button type="button" class="btn btn-dark pull-right" (click)="addComments()">Add Comments</button>
    </div>



    <div>
        <button type="submit" class="btn btn-primary" [disabled]="!newBugForm.valid"
            (click)="onSumbit()">Submit</button>
    </div>

</form>

{{newBugForm.value | json}}